<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogoPath" value="C:\Users\Klaus\source\repos\POS\bin\Debug\images\logo.png" />
		<add key="ProductPath" value="C:\Users\Klaus\source\repos\POS\bin\Debug\images\" />
		<add key="CashRegSoundPath" value="C:\Users\Klaus\source\repos\POS\bin\Debug\sound\ka-ching.wav" />
		<add key="EconAgreementGrantToken" value="kHG9MNdj2TXFHyyQwgKc32kHcupoN4oxCqxTCwA44hM1" />
		<add key="EconAppSecretToken" value="PV6zQF1QfiVHfEtYsEqcCYadmtr3dVn2Yt3M6qFX9jA1" />
		<add key="Exitcode" value="4432" />
	</appSettings>
	<connectionStrings>
		<!--
		<add name="SelfServicePOS" connectionString="server=EKKSDB01.EKKS.local;Initial Catalog=SelfServicePOS;User ID=POS;Password=Sommer6ergodt!" />
		-->
		<add name="SelfServicePOS" connectionString="server=KLJU-SPEC-W10;Initial Catalog=SelfServicePOS;User ID=sa;Password=SQLsa07012022!" />
	</connectionStrings>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>